.header {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding: 5px;
    background-color: white;
    text-align: center;
    width: 625px;
    margin: auto;
}

.dashed{
    border-width: 2px;
    border-color: black;
    border-style: dashed;
}

.dotted {
    border-width: 2px;
    border-color: black;
    border-style: dotted;
}

.solid{
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

.line{
    display: inline-block;
}

#parentform, #formlabel{
    padding: 5px;
    border-color: black;
    border-width: 3px;
    border-style: double;
    width: 620px;
    background-color: white;
    margin: auto;
}

.allergy{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    text-align: left;
    vertical-align: top;
}

.small {
    font-size: 14px;
    font-weight: normal;
}


.innerdiv {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;

    /* Debugging to see div positioning */

    /*border-width: 2px;*/
    /*border-color: black;*/
    /*border-style: solid;*/

    vertical-align: top;
}

.lengthwise {
    padding: 10px;
    width: 96%;
}

.underlineonly {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

input:invalid {
    color: red;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

button {
    background-color: darkslategrey;
    color: white;
    font-size: 9px;
    padding-bottom: 4px;
    padding-top: 4px;
}

button:hover {
    background-color: black;
    cursor: pointer;
}

html {
    background-image: url("watercolor-texture-dark-01-03-preview-00-.jpg");
}

#submit, #back{
    font-size: 12px !important;
    background-color: white !important;
    color: black !important;
}

#submit:hover{
    background-color: black !important;
    color: white !important;
}

.red:disabled{
    color: white;
    display: none;
}

.red:enabled{
    display: initial;
    color: black;
}

.alert{
    font-size: 9px;
    color: red;
}

.topnav{
    font-size: 16px;
    background-color: white;
    padding: 5px;
    margin-bottom: 7px;
    text-align: center;
}

.topnav a{
    padding-right: 20px;
    text-decoration: none;
    color: blue;
}

.topnav {
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
    background-color: saddlebrown;
}

ul.topnav {
    margin-top: 15px;
}

.topnav li {
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 20px;
}

.topnav a {
    text-decoration: none;
    color: #fff;
    padding: 8px;
}

.topnav a:hover {
    color: black;
}

/*Pulled from css-tricks and modified*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
}
